body{
    background-color: brown;
    text-align: center;

}

h1{
    background-color: blue; color: aqua;
}

.main{
    width:350px;
    height:500px;
    background-color: antiquewhite;
    color:black;
    position : absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  
   
}
.tip{
    bottom: 400%;
}